<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
    <ion-title style="text-align: center;"> About Cerbung </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>App ini dibuat oleh Tori Miso group yang beranggotakan:</p>
  <ol>
    <li>160721029 - Heraldy Santoso</li>
    <li>160721030 - Daniel Albert Yohannes</li>
    <li>160721045 - Muhammad Oktaryano Ramadhan</li>
  </ol>
</ion-content>