<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign in</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Sign In</h1>
  <h3 style="text-align: center;">Selamat datang di Cerbung: Cerita Bersambung</h3>
  <ion-input label="Username : " labelPlacement="floating" [(ngModel)]="username"></ion-input>
  <ion-input label="Password : " labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
  <ion-button id="btnLogin" expand="block" (click)="BtnLogin_OnClick()">Sign In</ion-button>
  <ion-text>
    Belum punya akun? 
    <ion-router-link routerLink="/register" style="color: cyan; text-decoration: underline;">
      Sign up
    </ion-router-link>
  </ion-text>  
</ion-content>
