<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
    <ion-title style="text-align: center">Cerbung Read</ion-title>
    <ion-button slot="end" color="light" [routerLink]="['/notification']">
      <ion-icon name="notifications-outline" style="padding: 2vh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">read</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 2vh">
    <ion-card *ngFor="let item of cerita" style="border-radius: 12px; margin-top: 2vh">
      <img [src]="item.cerita[0].url_foto" style="height: 39vh; width: 100%; display: block; object-fit: cover" />
      <ion-card-header style="text-align: left">
        <ion-card-title>{{item.cerita[0].title}}</ion-card-title>
        <ion-card-subtitle style="align-items: center">
          <div>
            <ion-icon name="list-outline"></ion-icon> {{item.additionalData[0].paragraph_count}}
            <ion-icon name="thumbs-up" style="margin-left: 8px"></ion-icon>
            {{item.additionalData[0].total_likes}}
            <ion-row>
              <ion-card style="
                  background-color: #686565;
                  color: #fff;
                  font-size: 16px;
                  padding: 8px;
                  border-radius: 4px;
                  margin: 1vh 0;
                ">
                {{ item.additionalData[0].genre }}
              </ion-card>

              <ion-card style="
                  background-color: #686565;
                  color: #fff;
                  font-size: 16px;
                  padding: 8px;
                  border-radius: 4px;
                  margin: 1vh 0;
                  margin-left: 1vh;
                ">
                {{ item.cerita[0].access }}
              </ion-card>
            </ion-row>
          </div>
          <div style="display: flex; justify-content: space-between">
            <label>by {{item.additionalData[0].username}}</label>
            <label>{{ item.cerita[0].tgl_rilis | date:'dd/MM/yyyy'}}</label>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngFor="let itemParagraf of paragraf" style="text-align: justify">
        {{itemParagraf.paragraf.isi_paragraf}}
        <div style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          ">
          <div style="display: flex; align-items: center">
            <ion-icon name="person-outline" style="margin-right: 8px"></ion-icon>
            {{ itemParagraf.paragraf.username }}
          </div>
          <ion-button (click)="tambahLike(itemParagraf.paragraf.id, itemParagraf.additionalData, itemParagraf.paragraf.users_id, item.cerita[0].title)"
            style="color: white; --background: transparent">
            <ion-icon *ngIf="itemParagraf.additionalData === 'Liked'" name="thumbs-up" style="margin-right: 8px"></ion-icon>
            <ion-icon *ngIf="itemParagraf.additionalData === 'Not Liked'" name="thumbs-up-outline"
              style="margin-right: 8px"></ion-icon>
            {{ itemParagraf.paragraf.total_likes }}
          </ion-button>
        </div>
      </ion-card-content>
      <ion-card-content *ngIf="item.cerita[0].access === 'Public'">
        <!-- Input untuk paragraf baru -->
        <ion-textarea label="Continue the Story" labelPlacement="floating" fill="outline" rows="5"
          [(ngModel)]="newParagraph" #paragraphInput maxlength="70"></ion-textarea>

        <!-- Menampilkan penghitungan karakter -->
        <div class="character-count" style="text-align: right">
          ({{ newParagraph.length }}/70 characters)
        </div>

        <!-- Tombol "Submit" untuk mengirim paragraf baru -->
        <ion-button (click)="tambahParagraf(item.cerita[0].title, item.cerita[0].users_id)" style="color: white;float: right;margin-top: 2vh;margin-bottom: 3vh;"
          shape="round">
          Submit
        </ion-button>

        <ion-button (click)="followCerita(item.cerita[0].users_id, item.cerita[0].title)" *ngIf="followed === 'Followed'" shape="round"
          style="float: left; margin-bottom: 3vh">
          Unfollow
        </ion-button>
        <ion-button (click)="followCerita(item.cerita[0].users_id, item.cerita[0].title)" *ngIf="followed === 'Not Followed'" shape="round"
          style="float: left; margin-bottom: 3vh">
          Follow
        </ion-button>
      </ion-card-content>

      <ion-card-content *ngIf="item.cerita[0].access === 'Restricted'">
        <ion-button (click)="requestContribute()" shape="round" style="float: right; margin-right: 2vh; margin-bottom: 3vh">
          + Request to Contribute
        </ion-button>

        <ion-button (click)="followCerita(item.cerita[0].users_id, item.cerita[0].title)" *ngIf="followed === 'Followed'" shape="round"
          style="float: left; margin-bottom: 3vh">
          Unfollow
        </ion-button>
        <ion-button (click)="followCerita(item.cerita[0].users_id, item.cerita[0].title)" *ngIf="followed === 'Not Followed'" shape="round"
          style="float: left; margin-bottom: 3vh">
          Follow
        </ion-button>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>