<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
    <ion-title style="text-align: center">Following</ion-title>
    <ion-button slot="end" color="light" [routerLink]="['/notification']">
      <ion-icon name="notifications-outline" style="padding: 2vh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">following</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row
      *ngFor="let item of cerita"
      [routerLink]="['/read', item.cerita.id]"
      style="
        border: 2px solid #ffffff;
        border-radius: 12px;
        margin: 16px;
        padding: 16px;
      "
    >
      <ion-col style="display: flex">
        <img
          [src]="item.cerita.url_foto"
          style="height: 32vh; width: 32vh; object-fit: cover"
        />
        <div style="margin-left: 16px">
          <h3 style="margin-top: 0">{{ item.cerita.title }}</h3>
          by {{ item.additionalData[0].username }} <br />
          Last update: {{ item.additionalData[0].last_update | date:'dd/MM/yyyy'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
