<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
    <ion-title style="text-align: center;">
      Cerbung
    </ion-title>
    <ion-button slot="end" color="light">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cerbung</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container"> -->
  <ion-input label="Search Cerbung" labelPlacement="floating" [(ngModel)]="search" style="height: auto; width: 97%; margin: 0 auto; margin-top: 3vh;"></ion-input>
  <ion-card *ngFor="let cerbung of cerbungs">
    <img [src]="cerbung.url" style="height: auto; width: 97%; margin: 0 auto; margin-top: 3vh; display: block;">
    <ion-card-header style="text-align: left;">
      <ion-card-title>{{ cerbung.title }}</ion-card-title>
      <ion-card-subtitle>by {{ cerbung.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: left;">{{ cerbung.shortDesc }}</ion-card-content>
    <ion-button shape="round" style="float: right; margin-right: 3vh; margin-bottom: 3vh;">Read</ion-button>
  </ion-card>
  <!-- </div> -->
</ion-content>