<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-button>
    <ion-title style="text-align: center"> Cerbung </ion-title>
    <ion-button slot="end" color="light">
      <ion-icon name="notifications-outline" style="padding: 2vh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cerbung</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 2vh">
    <ion-input label="Search Cerbung" labelPlacement="floating" [(ngModel)]="search" fill="outline"></ion-input>
    <ion-card *ngFor="let cerbung of cerbungs" style="border: 1px solid #ffffff; border-radius: 12px; margin-top: 2vh">
      <img [src]="cerbung.url" style="height: 32vh; width: 100%; display: block; object-fit: cover" />
      <ion-card-header style="text-align: left">
        <ion-card-title>{{ cerbung.title }}</ion-card-title>
        <ion-card-subtitle>by {{ cerbung.author }}</ion-card-subtitle>
        <ion-card-subtitle>
          <ion-icon name="list-outline"></ion-icon> {{ cerbung.paragraph }}
          <ion-icon name="thumbs-up" style="margin-left: 8px"></ion-icon> {{
          cerbung.like }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="text-align: left">{{ cerbung.shortDesc }}</ion-card-content>
      <ion-button shape="round" style="float: right; margin-right: 3vh; margin-bottom: 3vh"
        [routerLink]="['/read', cerbung.title]">Read</ion-button>
    </ion-card>
  </div>
</ion-content>